
/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    .img-logo-header{
        height: 95pt;
        margin-right: 20px;
    }

    .btn-header {
        margin-right: 0 ;
    }

    .tel-head {
    // font: 10px/20px 'Marmelad', sans-serif;
        font-size: 14pt;

    }

    #block-sell-head{
        margin-bottom: 10px  ;
    }


    .description-caption-h3 {
        margin-top: 20px;
    }

    .description_card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .order_field {
        margin-top: 0;
    }

    #delivery {
        background-image:none;
    }


    .order_field {
        height: 440px;
    }


    .delivery-white {
        margin-bottom: 50px;
    }

    #dignity {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .dignity-our {
        margin-bottom: 20px;
    }

    .reference-orange {
        margin-top: 20px;
    }

    .delivery-block-text {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .text-orange-box {
        padding-bottom: 30px;
    }

    .my-margin-left-30 {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #my-reference-item {
        padding-top: 10px;
    }

    .my-reference-p {
        margin-left: 0;
    }

    .my-review-block {
        margin-top: 0;
        margin-bottom: 120px;
    }

    .my-review-text-block {
        margin-top: 0;
    }

    .img-review{
        margin-top: 30px;
    }

    .my-review-h6{
        margin-top: -10px;
        margin-bottom: 10px;
    }

    #review {
       margin-bottom: 0;
    }


    #contact {
        margin-top: 0;
    }

    .my-review-media-block{
        margin-left: -20px;
    }

    .my-review-block {
        margin-bottom: 30px;
    }

    .social-block-my-contact {
        margin-top: 10px;
        margin-left: 80px;
    }

    .have-a-good-day {
        margin-top: 10px;
    }

    #footer {
        margin-top: 10px;
    }

    .my-row-phone {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .footer-menu {
        margin-top: 10px;
    }

    .logo-footer-margin-top {
        margin-top: 20px;
    }

    .phone-delivery {
        margin-left: -15px;
    }

    .my-margin-top-70{
        margin-top: 20px;
    }

    .tel-delivery{
       // margin-left: -20px;
    }


    .post-span {
        margin-left: -10px;
    }

    .my-margin-left-only-mob-10{
        margin-left: 30px;
    }

    .phone-delivery-footer{
        margin-left: 10px;
    }
}
